{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>Логин : {{ login }}</div>
        <div>Почта : {{ email }}</div>
        <div>Имя : {{ first_name }}</div>
        <div>Фамилия : {{ last_name }}</div>
        <div>Возраст : {{ age }}</div>
        <div>Город : {{ location }}</div>
    </div>
{% endblock %}